@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #072256;
}

[class*=__container] {
  width: 90%;
  margin: 0 auto;
}

.mbutton {
  color: black;
  width: 121px;
  height: 54px;
  background: #FFB742;
  border: 2px solid #FFB742;
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mdes {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #D5D5D5;
  width: 672px;
}

.mtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 30px;
  color: white;
}

.mtext {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  width: 148px;
  height: 42px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFB742;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menu {
  display: none;
  position: relative;
  z-index: 4;
}

#menu img {
  width: 30px;
}

header .header__container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__container .header__nav {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

header .header__container .header__nav a {
  text-decoration: none;
  color: white;
}

header .header__container .header__nav a:hover {
  color: #FFB742;
}

@media screen and (max-width: 548px) {
  #navbar {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #menu {
    display: block;
  }
}

main .main__container {
  margin-top: 50px;
}

main .main__container .main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .main__container .main__content .main__image {
  width: 50%;
}

main .main__container .main__content .main__describe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

@media screen and (max-width: 1304px) {
  main .main__container .main__content .main__image {
    width: inherit;
  }
  main .main__container .main__content .main__image img {
    width: 100%;
  }
  main .main__container .main__content .main__describe {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .main__container .main__content .main__describe .title {
    font-size: 30px;
  }
  main .main__container .main__content .main__describe .des {
    width: 70%;
  }
}

.logos {
  width: 80px;
  height: 80px;
  background: #383E45;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  margin-top: 100px;
}

section .section__container .section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section .section__container .section__content .section__describe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

section .section__container .section__content .section__describe .section__title {
  line-height: 50px;
}

section .section__container .section__content .section__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

section .section__container .section__content .section__icon .st {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section .section__container .section__content .section__icon .nd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1304px) {
  section {
    margin-top: 100px;
    padding-bottom: 50px;
  }
  section .section__container .section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  section .section__container .section__content .section__describe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  section .section__container .section__content .section__describe .section__title {
    font-size: 30px;
  }
  section .section__container .section__content .section__describe .section__des {
    width: 70%;
  }
  section .section__container .section__content .section__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 20px;
    gap: 15px;
  }
  section .section__container .section__content .section__icon .st {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section .section__container .section__content .section__icon .nd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

html body header .header__container #navbar.header__nav.a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 255, 0.397);
  border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */